
body {
	background-image: url('../../assets/fondo.png');
	background-size: cover;
}
.description {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 50px;
}
.description p {
	padding-top: 15px;
	text-align: center;
	font-size: 20px;
	width: 100%;
}
#productos {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
	margin-bottom: 50px;
}

@media (min-width: 200px) and (max-width: 500px) {
	#productos {
		width: 100%;
		display: grid;
		grid-template-columns: 2fr;
		gap: 8px;
		justify-items: center;

	}
	.description p{
		line-height: 30px;
	}
}
@media (min-width: 501px) and (max-width: 800px) {
	#productos {
		
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
	
	
	}
}
@media (min-width: 801px) and (max-width: 1200px) {
		#productos {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
	}
}
::-webkit-scrollbar {
	background-color: transparent;
	width: 10px;
}
::-webkit-scrollbar-button {
	background-color: rgb(194, 194, 194);
}
::-webkit-scrollbar-thumb {
	background-color: grey;
	border-radius: 10px;
}
