section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80%;
	flex-direction: column;
	width: 30%;
}
section:hover {
	border-bottom: 2px solid black;
	box-shadow: 0px 15px 0px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
}

.imagen {
	width: 250px;
	height: 300px;
	border-radius: 20px;
}
.product {
	width: 80%;
	text-align: center;
	text-transform: lowercase;
}
#contactos a {
	color: black;
	text-decoration: none;
}
#contactos a:hover {
	text-decoration: underline;
}
#contactos a:active {
	color: white;
}
option a {
	width: auto;
}
h4 {
	font-size: 20px;
	text-align: center;
}
footer {
	display: flex;
	flex-direction: column;
	background-color: rgb(204, 193, 193);
}
#contactos {
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
object {
	display: flex;
	justify-content: center;
	width: 80%;
}
@media (min-width: 501px) and (max-width: 800px) {
	section {
		width: 90%;
		display: flex;
		justify-content: flex-start;
		height: auto;
	}
}
@media (min-width: 200px) and (max-width: 500px) {
	section {
		width: 90%;
		padding: 10px;
		height: auto;
	}
}
@media (min-width: 800px) and (max-width: 1200px) {
	section {
		width: 90%;
		display: flex;
		justify-content: flex-start;
		padding: 10px;
		height: auto;
	}
}
