section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80%;
	flex-direction: column;
	width: 30%;
}
#guante:hover,
#botella:hover,
#platon:hover,
#bolsas:hover,
#cepillo:hover {
	animation: none;
}
#guante {
	background-image: url(../../assets/guantemilo.png);
	animation: guante 5s infinite alternate;
}
#botella {
	background-image: url(../../assets/multiusosmilo.png);
	animation: botella 5s infinite alternate;
}
#platon {
	background-image: url(../../assets/platomilo.png);
	animation: platon 5s infinite alternate;
}
#bolsas {
	background-image: url(../../assets/bolsasmilo.png);
	animation: bolsas 5s infinite alternate;
}
#cepillo {
	background-image: url(../../assets/cepillosolo.png);
	animation: cepillo 5s infinite alternate;
}
#guante,
#botella,
#platon,
#bolsas,
#cepillo {
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100vw;
	object-position: 50% 50%;
}

@keyframes guante {
	33% {
		background-image: url(../../assets/guantemilo.png);
	}
	66% {
		background-image: url(../../assets/guantemascota.png);
	}
	100% {
		background-image: url(../../assets/guante.png);
	}
}
@keyframes botella {
	33% {
		background-image: url(../../assets/multiusosmilo.png);
	}
	66% {
		background-image: url(../../assets/multiusosfuncion.png);
	}
	100% {
		background-image: url(../../assets/multisusosrosa.png);
	}
}
@keyframes platon {
	33% {
		background-image: url(../../assets/platomilo.png);
	}
	66% {
		background-image: url(../../assets/platos.png);
	}
	100% {
		background-image: url(../../assets/plato.png);
	}
}
@keyframes bolsas {
	33% {
		background-image: url(../../assets/bolsasmilo.png);
	}
	66% {
		background-image: url(../../assets/bolsas.png);
	}
	100% {
		background-image: url(../../assets/bolsa.png);
	}
}
@keyframes cepillo {
	33% {
		background-image: url(../../assets/cepillobaño.png);
	}
	66% {
		background-image: url(../../assets/cepillomascota.png);
	}
	100% {
		background-image: url(../../assets/cepillosolo.png);
	}
}

section:hover {
	box-shadow: 0px 15px 0px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
}

.imagen {
	height: 350px;
	border-radius: 20px;
}
.product {
	width: 90%;
	text-align: center;
	font-size: 20px;
	padding: 10px;
	text-transform: lowercase;
}
#contactos a {
	color: black;
	text-decoration: none;
}
#contactos a:hover {
	text-decoration: underline;
}
#contactos a:active {
	color: white;
}
option a {
	width: auto;
}
h4 {
	font-size: 20px;
	text-align: center;
}
footer {
	display: flex;
	flex-direction: column;
	background-color: rgb(204, 193, 193);
}
#contactos {
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
object {
	display: flex;
	justify-content: center;
	width: 100%;
	width: 80%;
}
@media (min-width: 501px) and (max-width: 800px) {
	section {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		height: auto;
	}
}

@media (min-width: 200px) and (max-width: 500px) {
	section {
		width: 100%;
		padding: 10px 0px;
		height: auto;
	}
	.imagen {
		height: 350px;
		width: 20%;
	}
}
@media (min-width: 501px) and (max-width: 800px) {
	section {
		width: 100%;
		display: flex;
		padding: 10px 0px;
		justify-content: flex-start;
		height: auto;
	}

}
@media (min-width: 801px) and (max-width: 1200px) {
	section {
		background-size:contain ;

		width: 100%;
		padding: 10px 0px;
		height: auto;
	}
	
}
