footer {
	display: flex;
	flex-direction: column;
	background-color: rgb(204, 193, 193);
}
#contactos a,a {
	color: black;
	text-decoration: none;
}
#contactos a:hover {
	text-decoration: underline;
}
#contactos a:active {
	color: white;
}
option a {
	width: auto;
}

#contactos {
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.copy {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 50%;
}
.copy,
.title-contactos {
	margin-left: 5%;
}
.inicio a{
text-decoration: none;
color: black;
}
.inicio{
	padding: 7px;
	border: none;
background-color: rgb(160, 160, 160);
border-radius: 20px;
	font-size: 16px;
	margin-bottom: 10px;
}
