@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');
* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
		sans-serif;
	 scroll-behavior: smooth;
}
body {
	background-image: url('./assets/fondo.png');
	background-size: cover;
}
.description {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 50px;
}
.description p {
	width: 80%;
}
#productos {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
	margin-bottom: 50px;
}

@media (min-width: 200px) and (max-width: 500px) {
	#productos {
		width: 100%;
		display: grid;
		grid-template-columns: 2fr;
		gap: 8px;
		justify-items: center;
	}
}
@media (min-width: 501px) and (max-width: 800px) {
	#productos {
			width: 100%;
		display: grid;
		grid-template-columns: 2fr 2fr;
		gap: 10px;
		justify-items: center;
	}
}
@media (min-width: 801px) and (max-width: 1200px) {
	#productos {
		width: 100%;
		display: grid;
		grid-template-columns: 2fr 2fr;
		gap: 10px;
		justify-items: center;
	}
}
::-webkit-scrollbar {
	background-color: transparent;
	width: 10px;
}
::-webkit-scrollbar-button {
	background-color: rgb(194, 194, 194);
}
::-webkit-scrollbar-thumb {
	background-color: grey;
	border-radius: 10px;
}